/app/dependencies/css/.*
!/app/dependencies/css/.gitkeep

/app/dependencies/js/.*
!/app/dependencies/js/.gitkeep

/app/pages/.*
!/app/pages/.gitkeep

/app/providers/.*
!/app/providers/.gitkeep

/app/build/formelo.manifest

/backup
/.idea
/.idea_backup

